.popup {
    position: fixed;
    width: 40%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
}

.popup-body {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #c0c0c0;
}

.popup-content {
    padding: 30px;
    min-width: 100%;
    color: #fff;
}